{% extends 'base.html' %}
{% load static %}
{% block content %}

<br>
  <br>
<div class="a1">
  
  <div class="py-5  container"><div class=" align-items-center row">
    <h1 class="service-head">About us</h1>
  </div>
  <div class="pt-5 about_or row">
    <h4>Hello Guys! We are</h4>
  <ul><li class="service-para">Rupali Sahu</li><li class="service-para">Sana Bano</li></ul>
    <p class="service-para">We created this project as a Helping Hand of Tourists and given the title "TOURISTS HELPING HAND". </p>
    </div></div>
</div>
  <br>
  <br>

{% endblock  %}